// Styles for Testmonials Section

.testmonials {
    background: $white;
    padding: 3rem 0;

    & p {
        @include paragraph-i;
        font-size: 0.875rem;
        line-height: 1.85;
    }

    & h5 {
        @include paragraph-strong;
        font-size: 0.875rem;
        position: relative;
        margin-top: 2rem;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -1rem;
            width: 30px;
            height: 2px;
            background: $second-color;

        }
    }

    & ul {
        margin: 0;
    }

    & ul li {
        display: inline-block;
        margin-top: 1.5rem;
        list-style: none;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 1px solid $main-dark-color;

        &:nth-child(2) {
            background: $main-color;
        }
    }
}
.quotes-icon {
    display: block;
    width: 24px;
    height: 16px;
    background: url('images/icons/quotes-icon.svg') center center /contain no-repeat;
    padding-bottom: 0.5rem;
}

.testimonial-picture {
    float: right !important;
    width: 110px !important;
    height: 110px !important;
    border-radius: 55px !important;
    object-fit: cover !important;
    border: 4px solid $second-color;
}

.owl-nav {
    margin-top: 0 !important;
}