// Hype Tur Theme Colors

$main-color: rgb(91, 78, 92);
$main-dark-color: rgb(80, 66, 82);
$second-color: rgb(254, 197, 120);
$second-light-color: rgb(255, 241, 222);
$black: rgb(16, 16, 16);
$white: rgb(244, 244, 244);
